
$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);

$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$egg-shell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

@font-face {
    font-family: 'outFit';
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'YoungSerif';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'outFit';
    line-height: 30px;
}

body{
    background-color: $egg-shell;
    height: 100vh;

}
.recipe-container{
    background-color: $white;
    width: 50%;
    padding: 36px;
    display:flex;
    flex-direction: column;
    row-gap: 18px;
    margin: 30px auto ;
    border-radius: 36px;

}
.omelette-img{
    width: 100%;
    border-radius: 18px;
}
.title{
    font-family: 'YoungSerif';
    font-weight: 600;
    color: $dark-charcoal;
}
.sub-title{
    font-family: 'YoungSerif';
    font-weight: 600;
    color: $nutmeg
}
.content{
    font-weight: 400;
    color: $wenge-brown;
}
.preparation-time-container{
    background-color: $rose-white;
    padding: 24px 38px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.preparation-time__title{
    color: $dark-raspberry;
}
ul{
    list-style-position: inside;
    margin-left: 8px;

}
ol{
    margin-left: 26px;

    li{
        position:relative;
        padding-left: 8px;
    }
    li::before{
        position:absolute;
        left: -2px;
        
    }
    li::marker {
        font-weight: bold;
        color: $dark-raspberry;
    }
}

hr{
    border-top: 1px solid $light-grey;
    border-bottom: none;
}

.nutrient-content{
    font-weight: bold;
    color: $nutmeg
}
.nutrient{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 30px;
}


